
body{
    font-family: "Montserrat";
    color: white;
    background-image: url('/images/focused.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; 
    
  }


.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(7, 196, 38);
    text-decoration: none;
  }

a:hover{
  color: rgb(5, 119, 24);
}

.heading{
  text-align: center;
  padding: 5% 0% 10%;
}

.booking{
  margin: 5% auto;
  padding: 2% 7%;
  max-width: 600px;
  background: rgba(0,0,0,.7);

  
}

.btn{
  margin:2rem auto 1rem;
  background-color: rgb(7, 196, 38);
}
.btn:hover{
  background-color: rgb(5, 119, 24);
}

.inputs{
  margin-top: 3%;
}

.centre{
  text-align: center;
}